<canvas id="myChart" width="400" height="400"></canvas> {% extends 'layout.html' %} {% block body %}

{% endblock %}









<!-- // const Dumme = [
//     { id: 'd1', value: 130, region: 'USA' },
//     { id: 'd2', value: 120, region: 'Iran' },
//     { id: 'd3', value: 10, region: 'Norway' },
//     { id: 'd4', value: 70, region: 'Greece' },
//     { id: 'd5', value: 40, region: 'Bulgaria' },
//     { id: 'd6', value: 30, region: 'Italy' },
// ];

// d3.select('div')
//     .selectAll('p')
//     .data(Dumme)
//     .enter()
//     .append('p')
//     .text(dta => Dumme.region); -->